Repository util-linux/util-linux, pull requests merged in 2024-04, with the labels that each got.

#2888 tests: (test_mkfds::sockdiag) verify the recieved message to detect whether the socket is usable or not
  misc-utils/lsfd-sock-xinfo.c
  misc-utils/lsfd.c
  misc-utils/lsfd.h
  tests/helpers/test_mkfds.c
Labels: STABLE, LSFD

#2910 tests: (lsfd::mkfds-multiplexing) skip if /proc/$pid/syscall is broken
  tests/ts/lsfd/mkfds-multiplexing
Labels: STABLE

#2866 lsfd: Support pidfs
  include/pidfd-utils.h
  misc-utils/Makemodule.am
  misc-utils/lsfd-file.c
  misc-utils/lsfd-pidfd.c
  misc-utils/lsfd-pidfd.h
  misc-utils/lsfd-unkn.c
  misc-utils/lsfd.c
  misc-utils/lsfd.h
  misc-utils/meson.build
  tests/expected/lsfd/column-name-pidfd
  tests/expected/lsfd/column-type-pidfd
  tests/expected/lsfd/mkfds-pidfd
  tests/ts/lsfd/column-ainodeclass
  tests/ts/lsfd/column-name
  tests/ts/lsfd/column-type
  tests/ts/lsfd/mkfds-pidfd
Labels: LSFD

#2852 <for the master branch> tests: (lsfs) skip some test cases if making a NETLINK_SOCK_DIAG socket and/or sending a message via the socket are not allowed
  misc-utils/lsfd-sock-xinfo.c
  misc-utils/lsfd.c
  misc-utils/lsfd.h
  tests/helpers/test_mkfds.c
  tests/ts/lsfd/lsfd-functions.bash
  tests/ts/lsfd/mkfds-ping
  tests/ts/lsfd/mkfds-socketpair
  tests/ts/lsfd/mkfds-unix-stream-requiring-sockdiag
Labels: LSFD

#2941 meson: Add build-lsfd option and make rt dependency optional
  meson.build
  meson_options.txt
Labels: STABLE

#2942 meson: Only build libmount when required
  libblkid/meson.build
  libfdisk/meson.build
  libmount/meson.build
  libmount/python/meson.build
  meson.build
  meson_options.txt
Labels: STABLE

#2965 <for the stable branch> lslocks: don't abort gathering per-process information even if opening a /proc/[0-9]* fails
  misc-utils/lslocks.c
  tests/ts/lslocks/lslocks
Labels: STABLE

#2974 v2.40: all_syscalls: use sed
  configure.ac
  meson.build
  misc-utils/Makemodule.am
  tools/all_syscalls
Labels: STABLE

#2975 meson: Add missing check for build-ipcrm option and the seminfo type
  meson.build
  meson_options.txt
Labels: STABLE

#2979 lsns: enhance the way to debug lsns::ioctl_ns test case
  meson.build
  meson_options.txt
Labels: STABLE

#2986 meson: Add build-dmesg option
  meson.build
  meson_options.txt
Labels: STABLE
